body {
    margin: 20px;
    margin-top: auto;
    font-family: 'Arial', sans-serif;
    background-color: #282c35; 
    color: #d4d4d4; 
}

h1 {
    color: #61dafb; 
    text-align: center;
}

p {
    color: #b79bb9;
}

ol {
    color: #ffe4c4; 
    list-style-type: decimal;
}

#miboton {
    background-color: #8b4513; 
    color: #f0f8ff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

ol li {
    margin-bottom: 8px;
}
